extends ../../../../lib/admin/server/layout

block head
    link(rel='stylesheet', href='/admin/plugins/settings/settings.css')

block stage
    #settings
        h1 SETTINGS

        .columns
            .one-fifth.column
                nav.menu
                    a.menu-item(rv-on-click='view.handleTabClicked' rv-class-selected='view.activeTab | equals view.tabs.general' rv-tab-name='view.tabs.general') General
                    a.menu-item(rv-on-click='view.handleTabClicked' rv-class-selected='view.activeTab | equals view.tabs.plugins' rv-tab-name='view.tabs.plugins') Plugins
            .four-fifths.column
                #generalView(rv-class-active='view.activeTab | equals view.tabs.general')
                    h2.sub-view-title General Settings
                #pluginsView(rv-class-active='view.activeTab | equals view.tabs.plugins')
                    h2.sub-view-title Plugins

                    table
                        thead
                            tr
                                th Name
                                th Description
                                th Version
                                th.text-center Activate
                        tbody
                            for plugin in plugins
                                tr
                                    td= plugin.name
                                    td= plugin.description
                                    td= plugin.version
                                    td.text-center
                                        input(type='checkbox' checked=plugin.active rv-on-change='view.handlePluginCheck')

block script
    script.
        window.plugins = JSON.parse('!{JSON.stringify(plugins)}');
    script(type='text/javascript' src='/admin/plugins/settings/bundle.js')